/* .navigation {
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
} */
html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

/* body {
  background: linear-gradient(to right, #0172af, #74febd);
} */

#home {
  display: flex;
  justify-content: center;
}

.hero-title {
  color: rgba(250, 250, 250, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;
}

.image {
  height: 300px;
  margin: 20px;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid #caf0f8;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

/* .projects-section {
  display: flex;
  justify-content: center;
  margin: 20px;
} */

.projects-title {
  color: rgba(5, 5, 5, 0.8);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.projects-description {
  padding: 5px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  background-color: white;
}

.menu-link {
  text-decoration: none;
  color: #90e0ef;
}

.title-name {
  font-size: 22px;
  display: flex;
  padding-left: 16px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.nav-link {
  font-size: 18px;
  color: #caf0f8;
  padding: 8px 12px;
  border-radius: 6px;
}

.menu-link:hover {
  color: #ec4899;
}

.nav-link.active {
  color: #ec4899;
}

.contact-icon__mail {
  width: 30px;
}

.name-input {
  font-size: 18px;
  width: 240px;
  border-radius: 12px;
  padding: 4px 16px;
  margin: 8px 24px;
  box-shadow:
    9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.email-input {
  font-size: 18px;
  width: 240px;
  border-radius: 12px;
  padding: 4px 16px;
  margin: 8px 24px;
  box-shadow:
    9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.message-input {
  font-size: 18px;

  width: 240px;
  border-radius: 12px;
  padding: 4px 16px;
  margin: 8px 24px;
  box-shadow:
    9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.submit-button {
  min-width: 100px;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  margin: 8px 24px;
  font-size: 1rem;
  cursor: pointer;
}

.block {
  display: flex;
  width: 440px;
  justify-content: space-between;
}

.message-description {
  margin: 8px 24px;
}

.contact-title {
  color: rgba(5, 5, 5, 0.8);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/* .contact-section {
  text-align: center;
} */
